.header__account-exit {
    margin: 2px 0 0 24px;
    color: #A9A9A9;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    cursor: pointer;
    background-color: black;
    border: none;
}